div.main{
	text-align: center;
}
ul.demain{
	display: inline-block;
	padding: 0;
	margin: 0;
}
ul.demain li{
	display: inline;
}
ul.demain li a{
	text-decoration: none;
	color: black;
	float: left;
	padding: 8px 16px;
    border: 1px solid #d8cdcd;
    transition: background-color .3s;
}
ul.demain li a.active{
	background-color: #4CAF50;
	color: rgba(255,255,255,1);
	border: 1px solid #4CAF50;
}
ul.demain li a:hover:not(.active){
	background-color: #ddd;
}
.x{
	position: relative;
	left: 1%;
	width: 1300px;
	height: 100%
	margin:0;
}